<app-menu-bar></app-menu-bar>
<section class="container-fluid p-4">
  
    <div class="col-sm-4 mx-auto">
        <form class="form-inline" (ngSubmit)="handleSubmit()">
            <div class="input-group">
                <input type="text" 
                name="userId"
                class="form-control"
                placeholder="Your Id" 
                [(ngModel)]="userId"
                required
                />
                <div class="input-group-append">
                    <button class="btn btn-primary">
                        Sign In
                    </button>
                </div>
            </div>
            
        </form>
    </div>

</section>
