<section class="container-fluid p-4 bg-primary">

    <h3>Loan Form</h3>

    <form (ngSubmit)="compute()" class="form col-sm-4">
        <div class="form-group">
            <label class="form-control-label">Amount </label>
            <input class="form-control" type="number" name="amt" [(ngModel)]="loan.amount" />
        </div>
        <div class="form-group">
            <label class="form-control-label">Time Period </label>
            <input class="form-control" type="number" name="prd" [(ngModel)]="loan.period" />
        </div>
        <div class="form-group">
            <label class="form-control-label">Rate Of Interest </label>
            <input class="form-control" type="decimal" min="0" max="100" name="rate"
                [(ngModel)]="loan.rateOfInterest" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">
                Compute Interest</button>
        </div>
    </form>
    <div class="col-sm-8 card card-info">
        <div class="card-text text-center">
            <p>
                <strong>You need to pay {{loan.amountPayable}}
                    including interest {{loan.simpleInterest}}.</strong>
            </p>
        </div>
    </div>
</section>